body {
    background-image: url("Images/paper.jpg");
    background-size:contain;
    padding:20px 20px;
}

.header {
   
    background-color:beige;
    border: #0063A6 2px solid;
    text-align:center;
    color: #0063A6;
    border: white 2px solid;
    width:calc(25%-10px);
    
}

.footer {
    background-color:#0063A6;
    border: white 2px solid;
    text-align:center;
    color: white;
    width:calc(25%-10px);
}
/* #0063A6 is hexidecimal format for blue */
/* #FFB6C1 is hexadecimal for pink color */
#nav {
text-align:center;	
padding: 0;
background-color:#0063A6;
}



#nav ul {
    list-style-type:none;
	margin: 0 auto;
	padding: 0; 
	text-align:center;
}

#nav li {
    display: inline-block;
    text-align:center;
       padding: 8px 15px;
}

#nav a:hover {
    color:#FFB6C1;
}


#nav li a:link, .nav li a:visited {
    text-decoration:none;
    width:100%;
    display: block;
    color:white;
 
}

/* #0090D2 is hexadecimal for blue color */
#nav li:hover {
    background-color:#0090D2;
    text-align:center;
}

p, li {
    font-size: 25px; 
    font-family:'Source+Sans+Pro:400,600italic', Georgia, sans-serif;
}

h2 {
    font-family:'Oxygen', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
}

h1 {
    font-family: 'Oxygen', Arial, sans-serif;
    font-size: 60px;
}

h3 {
    font-family:'Oxygen', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
}

h4 {
    font-family:'Oxygen', Arial, sans-serif;
    text-decoration:none;
    font-size:30px;
    text-align:center;
}



table, th, td {
    border: 1px solid black;
}


img.small {
    width:30%;
    height:auto;
    /* Resize all linked images at bottom of page */
}

img.middle {
    width:70%;
    height:auto;
      /* Resize all images in middle of page */
}

img.large {
    width: 75%;
    height: auto; 
      /* Resize first image at top of each page */
}

.container {
    padding: 20px 20px;
}

.resource {
    text-align:center;
}


.chart {
    width:100%;
    font-size:25px;
}














